<!DOCTYPE HTML>
<html>
<head>
<style>
#div1, #div2{
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
</style>
<script src="{{url_for('static',filename='js/main.js')}}"> </script>
</head>
<body>

<h1>Steganography chef - A Steganography decoding website</h1>
<h5>Based on the more popular CyberChef<h5>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
  <img src="{{url_for('static',filename='img/WOHOO.png')}}" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
</div>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

</body>
</html>